{{yield}}
<div class="row">
    <div class="col-md-3">
        {{this.invoice.id}}
    </div>
    <div class="col-md-3">
        {{this.invoice.amount}}
    </div>
    <div class="col-md-3">
        {{this.invoice.date}}
    </div>
    <div class="col-md-3">
        <a hrer="#" onclick={{action "popupEdit" this.invoice.id }} >Edit</a>
        <a hrer="#" onclick={{action "deleteRecord" this.invoice.id }} >Delete</a>
    </div>
</div>