<div class="container">

{{#bs-modal open=modal3 onSubmit=(action "addInvoice") onHidden=(action (mut modal3) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Add Invoice
      <div class="badge">2</div>
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    <input type="text"  autofocus="autofocus" placeholder="amount">
    <input type="text" placeholder="date">
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
    {{#bs-button type="success" onClick=(action modal.submit)}}Save{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
{{#bs-button onClick=(action (mut modal3) true)}}Add Invoice{{/bs-button}}

    <InvoiceListFilter @filter={{action "filterByDate"}} as |filteredResults|>

        {{#each filteredResults as |invoiceUnit|}}
            <InvoiceListing @invoice={{invoiceUnit}} />
        {{/each}}

    </InvoiceListFilter>
</div>

{{outlet}}

